/* stylelint-disable at-rule-no-unknown, no-descending-specificity */
@import "theme";
@import "fonts_setup";
@import "fonts";
@import "mixins";

/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color);
}

.layout {
  min-height: 100vh;
  position: relative;
  display: block;
  padding: 6rem 1rem 1rem;
  background-color: var(--bg);
  color: var(--color-primary);

  .header {
    .navbar {
      @include shadow-m;

      background: var(--bg-secondary);
      border-color: var(--border-color);
      border-radius: var(--border-radius-m);
      border-style: solid;
      border-width: var(--border-width-l);
      margin: 1rem;

      .navbar-brand {
        font-family: "Bebas Neue", sans-serif;
        font-size: 1.7rem;
        padding: 0;
        color: var(--color-primary);
      }
    }
  }
}

select,
select.custom-select {
  background-color: var(--bg-secondary);
  border-color: var(--border-color);
  color: var(--color);

  &:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 0 0.1rem var(--accent-color);
  }
}

a,
a:link,
a:visited {
  @include transition-default;

  color: var(--accent-color);
  box-shadow: 0 0 0 0 var(--accent-color);

  &:hover {
    @include transition-default;

    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: inset 0 -6px 0 0 rgba(var(--accent-color-rgb), 0.5);
  }
}

.btn {
  @include border-m-radius-s;
  @include transition-default;

  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;

  &:hover {
    @include border-m-radius-s;
    @include transition-default;

    border-radius: var(--border-radius-s);
    border: var(--border-width-m) solid var(--border-color);
  }
}

.btn-primary,
.btn-outline-primary,
.btn-outline-success,
.btn-outline-danger,
.btn-outline-warning,
.btn-outline-info,
.btn-outline-light,
.btn-outline-dark {
  color: var(--bg);
  background-color: var(--color);

  &:hover {
    color: var(--color);
    background-color: var(--bg);
  }
}

.btn-secondary,
.btn-outline-secondary {
  color: var(--color);
  background-color: var(--bg);

  &:hover {
    color: var(--bg);
    background-color: var(--color);
  }
}

.b-calendar {
  @include border-m;
  @include shadow-m;

  padding: .5rem;

  .b-calendar-nav {
    .btn {
      box-shadow: none;
    }
  }

  output {
    background-color: var(--bg-secondary);
    color: var(--color);
  }

  .b-calendar-grid {
    background-color: var(--bg-secondary);
    color: var(--color);

    footer {
      display: none;
    }

    .b-calendar-grid-body {
      .col[data-date] {
        .btn {
          background-color: transparent;
          box-shadow: none;
          border-radius: var(--border-radius-s) !important;
          color: var(--color);

          &.btn-outline-primary {
            @include border-m-radius-s;

            background-color: var(--accent-color);
            color: var(--bg)
          }

          &:not(:disabled):not(.disabled) {
            &.active {
              color: var(--bg);
              background-color: var(--color);
            }
          }
        }
      }
    }
  }
}

.btn-group {
  &> .btn:not(:last-child):not(.dropdown-toggle) {
    border-right: 0;
  }

  &> .btn-group:not(:last-child) {
    &> .btn {
      border-right: 0;
    }
  }

  &> .btn:not(:first-child):not(.dropdown-toggle) {
    border-left: 0;
  }

  &> .btn-group:not(:first-child) {
    &> .btn {
      border-left: 0;
    }
  }
}

code,
pre {
  color: var(--bg-secondary);
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-s);
  padding: .1rem .3rem;
}

.text-dark {
  color: var(--color) !important;
}

a.btn {
  color: var(--bg);

  &:hover {
    color: var(--color);
    box-shadow: none;
  }
}

hr {
  border-top: var(--border-width-m) solid var(--color-secondary);
}

.nav.nav-tabs {
  border-bottom: var(--border-width-m) solid var(--color);

  .nav-item {
    .nav-link {
      margin-bottom: 0;
      color: var(--color);

      &.disabled {
        color: var(--shadow-color);
      }

      &:hover {
        box-shadow: none;
        background-color: var(--color-secondary);
        color: var(--bg-secondary);
      }

      &.active {
        border-color: var(--color);
        background-color: var(--color);
        color: var(--bg);
      }
    }
  }
}

.card {
  @include border-m;
  @include shadow-m;

  background-color: var(--bg);

  .card-header {
    border-bottom: var(--border-width-m) solid var(--color);
    background-color: var(--bg-secondary);
    border-top-left-radius: calc(var(--border-radius-m) * 0.7);
    border-top-right-radius: calc(var(--border-radius-m) * 0.7);
    color: var(--color) !important;

    .card-header-tabs {
      .nav-link {
        margin-bottom: 0;
        color: var(--color);

        &.disabled {
          color: var(--shadow-color);
        }

        &:hover {
          box-shadow: none;
          background-color: var(--color-secondary);
          color: var(--bg-secondary);
        }

        &.active {
          border-color: var(--color);
          background-color: var(--color);
          color: var(--bg);
        }
      }
    }
  }

  .card-footer {
    border-top: var(--border-width-m) solid var(--color);
    background-color: var(--bg-secondary);
    border-bottom-left-radius: calc(var(--border-radius-m) * 0.7);
    border-bottom-right-radius: calc(var(--border-radius-m) * 0.7);
  }

  .card-img-overlay {
    background: rgba(0,0,0,0.5);
    border-radius: calc(var(--border-radius-m) * 0.7);
  }

  img.card-img {
    border-radius: calc(var(--border-radius-m) * 0.7);
  }

  img.card-img-top {
    border-bottom: var(--border-width-m) solid var(--color);
    border-top-left-radius: calc(var(--border-radius-m) * 0.7);
    border-top-right-radius: calc(var(--border-radius-m) * 0.7);
  }

  img.card-img-bottom {
    border-top: var(--border-width-m) solid var(--color);
    border-bottom-left-radius: calc(var(--border-radius-m) * 0.7);
    border-bottom-right-radius: calc(var(--border-radius-m) * 0.7);
  }

  img.card-img-right {
    border-left: var(--border-width-m) solid var(--color);
    border-top-right-radius: calc(var(--border-radius-m) * 0.7);
    border-bottom-right-radius: calc(var(--border-radius-m) * 0.7);
  }

  img.card-img-left {
    border-right: var(--border-width-m) solid var(--color);
    border-top-left-radius: calc(var(--border-radius-m) * 0.7);
    border-bottom-left-radius: calc(var(--border-radius-m) * 0.7);
  }
}

.carousel {
  @include border-m;
  @include shadow-m;

  .carousel-inner {
    border-radius: calc(var(--border-radius-m) * 0.7);
  }
}

.tablist {
  .card:not(:last-of-type) {
    margin-bottom: -0.25rem;
  }
}

.modal-content {
  @include border-m;
  @include shadow-m;

  background-color: var(--bg);
  color: var(--color);

  button.close {
    color: var(--color);
  }

  .modal-header {
    border-bottom: var(--border-width-m) solid var(--color);
    background-color: var(--bg-secondary);
    border-top-left-radius: calc(var(--border-radius-m) * 0.7);
    border-top-right-radius: calc(var(--border-radius-m) * 0.7);
  }

  .modal-footer {
    border-top: var(--border-width-m) solid var(--color);
    background-color: var(--bg-secondary);
    border-bottom-left-radius: calc(var(--border-radius-m) * 0.7);
    border-bottom-right-radius: calc(var(--border-radius-m) * 0.7);
  }
}

.navbar {
  color: var(--color);

  button.navbar-toggler {
    border: var(--border-width-s) solid var(--color);

    .navbar-toggler-icon {
      color: var(--color);
    }
  }

  .navbar-nav {
    .nav-link {
      color: var(--color);
    }
  }

  a {
    &:hover {
      color: var(--color);
      box-shadow: none;
    }
  }
}

.pagination {
  .page-item {
    .page-link {
      border-color: var(--color);
      color: var(--color);
      background-color: var(--bg);

      &:hover {
        box-shadow: none;
        background-color: var(--color-secondary);
        color: var(--bg-secondary);
      }

      &.nuxt-link-active {
        background-color: var(--color);
        color: var(--bg);
      }
    }
  }
}
